
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html{
    height: 100%;
    background-color: #1f1e1e;
/* background-color: black; */
}
.navbar{
    position:fixed;
    top:0;
    z-index:2;
    background-color:#1f1e1e;
    width:100%;
    padding:20px 0;
    border-bottom-style: groove;
    border-bottom-color: white;
}

.nav-item{
    font-size: 18px;
}
.navbar-nav{
    position:absolute;
    right:15px;
    flex-direction:row !important;
    display:flex;
    
}
h1{
    color:white;
    font-size: 40px;
}
#name{
    margin-left: 15px;
}
/* #picture{
    background-image: url("https://images.unsplash.com/photo-1521710927254-3dd9ef96a3fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1be01f4c82c85cf399cb66445320a9b&auto=format&fit=crop&w=2102&q=80");
    min-height:100%;
    background-size: cover;
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
} */

#sign{
    width:100%;
    height:auto;

}
table, th, td {
    border: 3px solid gray;
    margin: 20px auto;
    text-align:center;
    padding: 10px 10px;

}

p{
line-height: 1.5;

}
li{
    line-height: 1.5;
}
h2{
    /* color:#46BCDE; */
    color:orange;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-bottom: 40px;
    margin-top: 40px;


}
.sections{
    width: 70%;
    margin: 0 auto;
    color:rgba(255, 255, 255, 0.89);
}
h3{
    color:white;;
    font-size: 20px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;

    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}
ul{
    list-style-type: unset;
    margin-left:15px;

}
#all{
    padding-top: 70px;
}
#services, #content, #signInformation, #contact, #infoRequest {
    margin-bottom: 50px;
}
input{
    margin-top: 10px;
}
select{
    margin: 10px 0;
}
textarea{
    margin: 10px 0;
}
#public{
    /* float:right; */
    position: absolute;
    right:-50px;
    top:220px;
    width:450px;
}
#services{
    position: relative;
}
#card{
    position: absolute;
    right:-50px;
    bottom:40px;
    width:450px;
}
h1{
    /* font-family: 'Gravitas One', cursive; */
    font-family: 'Holtwood One SC', serif;
    color:gold;
    /* font-weight: bold;
    font-style: italic; */
}
p,td,li, button, label{
    font-family: 'Lato', sans-serif;

}
a{
    color:white; 
}
#contentJump{
    top: -123px;
    display: block;
    position: relative;
    }
#servicesJump{
    top: -123px;
    display: block;
    position: relative;
}
#signInfoJump{
    top: -123px;
    display: block;
    position: relative;
}
#contactJump{
    top: -123px;
    display: block;
    position: relative;
}   
#infoRequestJump{
    top: -123px;
    display: block;
    position: relative;
}
#side-tabs a.support {
	background: url('http://www.yourdomain.com/wp-content/themes/yourtheme/images/support-tab.png');
	left: 0px;
	top: 250px;
	height: 108px;
	width: 45px;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 9999;
	display:block;
}
#button{
    background: none repeat scroll 0 0 #FF0000;
    /* border: medium none;
    color: #FFFFFF;
    height: 50px;
    left: 74%;
    position: fixed;
    top: 100px;
    width: 100px; */

    left: -50px;
	top: 250px;
	height: 50px;
	width: 50px;
	margin-right: -30px;
    padding-bottom: -100px;
    padding-top: 0px;
	position: fixed;
	z-index: 9999;
    /* display:block; */
    vertical-align: text-bottom ;
    line-height: 200px;
    color:white;
/* 
    -webkit-transform-origin : 100% 0;
    -ms-transform-origin : 100% 0;
    transform-origin : 100% 0;

    -webkit-transform:rotate(-90deg) translateY(-200px);
    -ms-transform:rotate(-90deg) translateY(-200px);
    transform:rotate(-90deg) translateY(-200px); */


    -webkit-transform:rotate(-90deg);
    -webkit-transform-origin: right top;
  }

  /* #button
{
    height:200px;
    width:40px;
    background:dodgerblue;
    color:black;
    position:relative;
}   

#button2
{
    color:white;
    -webkit-transform:rotate(-90deg);
    -webkit-transform-origin: right top;
    position: fixed;
    right: 40px;
    line-height: 40px;
    padding: 0 20px;    
    background: tomato;
}
     */
     #rotate{
         color:white;
         background-color: rgba(77, 74, 74, 0.7);
        vertical-align:top;
        margin-top:23px;
        /* position:sticky;
        top:0; */
        width:80px;height:40px;
        transform:rotate(7deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -moz-transform:rotate(90deg); /* Firefox */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
        -o-transform:rotate(90deg); /* Opera */
        position: fixed;
        bottom: 25px;
        right: -22px; 
        text-align: center;
        border-radius: 10px;
        padding-top: 5px;
    }
    @media screen and (max-width: 768px){
        .navbar-nav{
            position:absolute;
            right:15px;
            flex-direction:row !important;
            display:flex;
            
        }
        .nav-item{
            font-size: 18px;
            margin-left: 10px;
        }
        #public{
            /* float:right; */
            position: absolute;
            right:-50px;
            top:240px;
            width:270px;
        }
        #card{
            position: absolute;
            right:-50px;
            bottom:120px;
            width:270px;
        }
        iframe{
            width:90%;
        }
        .btn{
            color:white;
            border-color: gold;
        }
    }
    @media screen and (max-width: 425px){
        h1{
                width: 100%!important;
                text-align: center;
        }
        .navbar-nav{
            position:absolute;
            right:15px;
            flex-direction:row !important;
            display:flex;
            width:100%;   

        }

        .nav-item{
            font-size: 18px;
            margin-left: 38px;
            margin-top: 62px;
        }
        #all{
            padding-top: 130px;
        }
        #public{
            /* float:right; */
            position: relative;
            right:0px;
            top:40px;
            width:300px;
        }
        #signsList{
            position:relative;
            bottom:70px;
        }
        .shirtsList{
            position:relative;
            bottom:70px;
        }
        
        #printing{
            padding-top:200px;
        }
        #card{
            position: relative;
            right:0px;
            top:670px;
            width:300px;
        }
        iframe{
            width:100%;
        }
        .btn{
            color:white;
            border-color: gold;
        }
        
    }